<% content_for :head do %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
<% end %>

<!-- tabs on the user edit page -->
<div class="tabbable tabs-left">
  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#progress" data-toggle="tab">Progress</a></li>
    <li><a href="#profile" data-toggle="tab">Profile</a></li>
    <li><a href="#account" data-toggle="tab">Account</a></li>
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="progress">
      <%= render('progress') %>
    </div>
    <div class="tab-pane fade" id="profile">
      <%= render('profile') %>
    </div>
    <div class="tab-pane fade" id="account">
      <%= render('account') %>
    </div>
  </div>
</div>

<!-- Plan modal -->
<div id="plan-options" class="modal" style="display: none;">
  <%= simple_form_for resource, :as => resource_name, :url => update_plan_path, :html => {:method => :put, :class => 'form-horizontal' } do |f| %>
    <div class="modal-header">
      <a class="close" data-dismiss="modal">&#215;</a>
      <h3>Change Plan</h3>
    </div>
    <div class="modal-body">
      <%= f.input :role_ids, :collection => Role.all.delete_if {|i| i.name == 'admin'}, :as => :radio_buttons, :label_method => lambda {|t| t.name.titleize}, :label => false, :item_wrapper_class => 'inline' %>
    </div>
    <div class="modal-footer">
      <%= f.submit "Change Plan", :class => "btn btn-primary" %>
      <a class="btn" data-dismiss="modal" href="#">Close</a>
    </div>
  <% end %>
</div>

<!-- Credit Card Modal -->
<div id="card-data" class="modal" style="display: none;">
  <%= simple_form_for resource, :as => resource_name, :url => update_card_path, :html => {:method => :put, :class => 'form-horizontal card_form' } do |f| %>
    <div class="modal-header">
      <a class="close" data-dismiss="modal">&#215;</a>
      <h3>Change Credit Card</h3>
    </div>
    <div class="modal-body">
      <div class="field">
        <%= label_tag :card_number, "Credit Card Number" %>
        <%= text_field_tag :card_number, nil, name: nil %>
      </div>
      <div class="field">
        <%= label_tag :card_code, "Card Security Code (CVV)" %>
        <%= text_field_tag :card_code, nil, name: nil %>
      </div>
      <div class="field">
        <%= label_tag :card_month, "Card Expiration" %>
        <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"}%>
        <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+10}, {name: nil, id: "card_year"}%>
      </div>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :email %>
      <%= f.hidden_field :stripe_token %>
    </div>
    <div class="modal-footer">
      <%= f.submit "Change Credit Card", :class => "btn btn-primary" %>
      <a class="btn" data-dismiss="modal" href="#">Close</a>
    </div>
  <% end %>
</div>