<%= simple_form_for(@move, :remote => true) do |f| %>
  <%= f.error_notification %>

  <td class="new move_id"></td>
  <td class="new move_number"><%= f.text_field :move_number, :class => "form-control input-sm", :placeholder => "#" %></td>
  <td class="new piece_white"><%= f.select :piece_white, [['...','...'],['♟','♟'],['♞','♞'],['♝','♝'],['♜','♜'],['♛','♛'],['♚','♚']],{}, {:class => 'form-control input-sm'}%></td>
  <td class="new start_white"><%= f.text_field :starting_coordinate_white, :class => 'form-control input-sm', :placeholder => "start"  %></td>
  <td class="new end_white"><%= f.text_field :ending_coordinate_white, :class => 'form-control input-sm', :placeholder => "end"  %></td>
  <td class="new piece_black"><%= f.select :piece_black, [['...','...'],['♟','♟'],['♞','♞'],['♝','♝'],['♜','♜'],['♛','♛'],['♚','♚']],{}, {:class => 'form-control input-sm'}%></td>
  <td class="new start_black"><%= f.text_field :starting_coordinate_black, :class => 'form-control input-sm', :placeholder => "start"  %></td>
  <td class="new end_black"><%= f.text_field :ending_coordinate_black, :class => 'form-control input-sm', :placeholder => "end"  %></td>
  <td class="new explanation"><%= f.text_area :explanation, :class => 'form-control text_area', :rows =>'1' %></td>  
  <td class="new computer"><%= f.radio_button :computer, true %> White
  <%= f.radio_button :computer, false %> Black </td>
  

  <td class="new exercise_title"><%= f.collection_select :exercise_id, Exercise.all, :id, :title, {:include_blank => true}, {:class => 'col-md-2'} %></td>
  <td class="new updated"></td>
  <td class="new"><%= f.submit "submit", :class => 'new btn btn-primary', :id => 'commit-Move' %></td>
  <td class="new"></td>
<% end %>
   

    