<%= simple_form_for(@move, :remote => true) do |f| %>
  <%= f.error_notification %>

  <div class="col-xs-1 new move_number showRightBorder"><%= f.text_field :move_number, :class => "form-control input-sm", :placeholder => "#" %></div>
  <div class="col-xs-1 new piece_white"><%= f.select :piece_white, [['...','...'],['♟','♟'],['♞','♞'],['♝','♝'],['♜','♜'],['♛','♛'],['♚','♚']],{}, {:class => 'form-control input-sm'}%></div>
  <div class="col-xs-1 new start_white"><%= f.text_field :starting_coordinate_white, :class => 'form-control input-sm', :placeholder => "strt"  %></div>
  <div class="col-xs-1 new end_white showRightBorder"><%= f.text_field :ending_coordinate_white, :class => 'form-control input-sm', :placeholder => "end"  %></div>
  <div class="col-xs-1 new piece_black"><%= f.select :piece_black, [['...','...'],['♟','♟'],['♞','♞'],['♝','♝'],['♜','♜'],['♛','♛'],['♚','♚']],{}, {:class => 'form-control input-sm'}%></div>
  <div class="col-xs-1 new start_black"><%= f.text_field :starting_coordinate_black, :class => 'form-control input-sm', :placeholder => "strt"  %></div>
  <div class="col-xs-1 new end_black showRightBorder"><%= f.text_field :ending_coordinate_black, :class => 'form-control input-sm', :placeholder => "end"  %></div>
  <div class="col-xs-1 new explanation  showRightBorder"><%= f.text_area :explanation, :class => 'form-control text_area', :rows =>'1' %></div>  
  <div class="col-xs-1 new computer  showRightBorder"><%= f.radio_button :computer, true %> White
  <%= f.radio_button :computer, false %> Black </div>
  

  <div class="col-xs-1 new exercise_title  showRightBorder"><%= f.collection_select :exercise_id, Exercise.all, :id, :title, {:include_blank => true}, {:class => 'form-control input-sm'} %></div>
  <div class="col-xs-1 new updated"></div>
  <div class="col-xs-1 new"><%= f.submit "Add", :class => 'new btn btn-primary', :id => 'commit-Move' %></div>

<% end %>