<div class="row move" id="move_<%= move.id %>" data-movenumber="<%= move.move_number %>" data-white="<%= move.piece_white %>:<%= move.starting_coordinate_white %>-<%= move.ending_coordinate_white %>" data-black="<%= move.piece_black %>:<%= move.starting_coordinate_black %>-<%= move.ending_coordinate_black %>" data-moveid="<%= move.id %>">
<!--     <div class="col-xs-1 move_id"></div> -->
    <div class="col-xs-1 move_number"><%= move.move_number %></div>
    <div class="col-xs-1 piece_white"><%= move.piece_white %></div>
    <div class="col-xs-1 start_white"><%= move.starting_coordinate_white %></div>
    <div class="col-xs-1 end_white"><%= move.ending_coordinate_white %></div>
    <div class="col-xs-1 piece_black"><%= move.piece_black %></div>
    <div class="col-xs-1 start_black"><%= move.starting_coordinate_black %></div>
    <div class="col-xs-1 end_black"><%= move.ending_coordinate_black %></div>
    <div class="col-xs-4 explanation"><%= move.explanation %></div>
    <div class="col-xs-1 computer"><%= move.computer ? "White" : "Black" %></div>
    <div class="col-xs-1 exercise_title"><%= move.exercise.nil? ? "" : move.exercise.title %></div>     
    <div class="col-xs-1 updated"><%= move.updated_at.strftime("%m/%d/%Y") %></div>
    <div class="col-xs-1 actions-button">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
             <span class="glyphicon glyphicon-pencil"></span> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Go To "+ move.id.to_s, move_path(move) %></li>
            <li><%= link_to('Edit',edit_move_url(move.id), :remote => true) %></li>
            <li><%= link_to('Delete', move_url(move.id), remote: true, method: :delete) %></li>
          </ul>
        </div>
    </div>    
</div>