<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:move_number) %></th>
      <th><%= model_class.human_attribute_name(:piece) %></th>
      <th><%= model_class.human_attribute_name(:starting_coordinate) %></th>
      <th><%= model_class.human_attribute_name(:ending_coordinate) %></th>
      <th><%= model_class.human_attribute_name(:explanation) %></th>
      <th><%= model_class.human_attribute_name(:computer) %></th>
      <th><%= model_class.human_attribute_name(:exercise_id) %></th>
      <th><% model_class.human_attribute_name(:updated_at) %>Updated</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% show_moves.each do |move| %>
      <tr>
        <td><%= link_to move.id, move_path(move) %></td>
        <td><%= move.move_number %></td>
        <td><%= move.piece %></td>
        <td><%= move.starting_coordinate %></td>
        <td><%= move.ending_coordinate %></td>
        <td><%= move.explanation %></td>
        <td><%= move.computer %></td>
        <td><%= move.exercise.title %></td>        
        <td><%= time_ago_in_words(l move.updated_at) %> ago</td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_move_path(move), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      move_path(move),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_move_path,
            :class => 'btn btn-primary' %>
