<div class="row">
<%- model_class = Move -%>
	<div class="col-md-6">
		<div class="page-header">
			<h1><%= link_to "Moves", moves_path(format: "csv") %></h1>
		</div>  
	</div>  

  	<div class="col-md-6">
	    <%= form_tag import_moves_path, multipart: true do %>
	    <div class="fileinput fileinput-new" data-provides="fileinput">
	      <div class="input-group">
	        <div class="form-control uneditable-input" data-trigger="fileinput">
	          <i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span>
	        </div>
	        <span class="input-group-addon btn btn-default btn-file">
	          <span class="fileinput-new">Select file</span>
	          <span class="fileinput-exists">Change</span>
	          <%= file_field_tag :file %>
	        </span>
	        <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
	        <%= submit_tag "Upload", :class => "upload input-group-addon btn btn-default fileinput-exists" %>
	      </div>
	    </div>
	    <% end %>
	</div>
</div>



<%= render('moveList', :model_class => Move, :show_moves => @moves, :page_type => "index") %>

