<div class="row">
<%- model_class = Move -%>
	<div class="col-md-6">
		<div class="page-header">
			<h1><%= link_to "Moves", moves_path(format: "csv") %></h1>
		</div>  
	</div>  

  	<div class="col-md-6">
		<%= form_tag import_moves_path, multipart: true do %>
		<div class="fileupload fileupload-new" data-provides="fileupload">
		  <div class="input-append">
		    <div class="uneditable-input col-md-3">
		    	<i class="icon-file fileupload-exists"></i> <span class="fileupload-preview"></span>
		    </div>
		    <span class="btn btn-file">
		    	<span class="fileupload-new">Select file</span>
		    	<span class="fileupload-exists">Change</span>
		    	<%= file_field_tag :file %>
		    </span>
		    <%= submit_tag "Upload", :class => "btn fileupload-exists" %>
		    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
		  </div>
		</div>
		<% end %>
	</div>
</div>



<%= render('moveList', :model_class => Move, :show_moves => @moves) %>

