<div id="<%= exercise.id %>" class="well well-small">
	<%= exercise.sortForLesson %> - <%= link_to exercise.title, edit_exercise_path(exercise) %>
  
  	<%= exercise.nextExercise %>

  	<%= link_to 'Edit', edit_exercise_path(exercise), :class => 'btn btn-mini pull-right' %>
  	<%= link_to 'Show', exercise_path(exercise), :class => 'btn btn-primary btn-mini pull-right' %>
</div>