<div id="<%= exercise.id %>" class="well well-small">
	<%= exercise.sortForLesson %> - <%= link_to exercise.title, exercise_path(exercise) %>
  
  	<%= exercise.nextExercise %>

<!--   	<%= link_to '<i class="icon-share"></i>'.html_safe, exercise_path(exercise), :class => 'btn btn-mini pull-right' %> -->
    <%= link_to '<i class="icon-trash icon-white"></i>'.html_safe, exercise_path(exercise), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-mini btn-danger pull-right' %>
  	<%= link_to 'Dup', clone_exercise_path(exercise.id), :class => 'btn btn-mini pull-right' %>
  	<%= link_to '<i class="icon-download-alt"></i>'.html_safe, csv_exercise_path(exercise), :class => 'btn btn-mini pull-right' %>
  	<%= link_to '<i class="icon-edit"></i>'.html_safe, edit_exercise_path(exercise), :class => 'btn btn-mini pull-right' %>

</div>