<div class="row">

  <div class="col-md-6">
    <%= link_to "CSV of All Exercises", exercises_path(format: "csv") %><br>
    <%= form_tag import_exercises_path, multipart: true do %>
    <div class="fileinput fileinput-new" data-provides="fileinput">
      <div class="input-group">
        <div class="form-control uneditable-input" data-trigger="fileinput">
          <i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span>
        </div>
        <span class="input-group-addon btn btn-default btn-file">
          <span class="fileinput-new">Select file</span>
          <span class="fileinput-exists">Change</span>
          <%= file_field_tag :file %>
        </span>
        <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
        <%= submit_tag "Upload", :class => "upload input-group-addon btn btn-default fileinput-exists" %>
      </div>
    </div>
    <% end %>
  </div>

  <div class="col-md-6">
    <%= link_to "CSV of All Moves", moves_path(format: "csv") %><br>
    <%= form_tag import_moves_path, multipart: true do %>
    <div class="fileinput fileinput-new" data-provides="fileinput">
      <div class="input-group">
        <div class="form-control uneditable-input" data-trigger="fileinput">
          <i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span>
        </div>
        <span class="input-group-addon btn btn-default btn-file">
          <span class="fileinput-new">Select file</span>
          <span class="fileinput-exists">Change</span>
          <%= file_field_tag :file %>
        </span>
        <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
        <%= submit_tag "Upload", :class => "upload input-group-addon btn btn-default fileinput-exists" %>
      </div>
    </div>
    <% end %>
  </div>

</div>

<div class="row">

  <div class="col-md-6">
    <div class="page-header">
     <h1>Claimed  <%= link_to 'New Lesson', new_lesson_path, :class => 'btn btn-primary pull-right' %></h1> 
    </div>
   <% @lessons.each do |lesson| %>
    <h4>
      <%= lesson.id %> - <%= link_to lesson.title, lesson_path(lesson) %>

      <%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, lesson_path(lesson), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-xs btn-danger pull-right' %>
      <%= link_to 'Dup', {:action => "clone", :id => lesson.id}, :class => 'btn btn-default btn-xs pull-right' %>
      <%= link_to '<span class="glyphicon glyphicon-download-alt"></span>'.html_safe, csv_lesson_path(lesson), :class => 'btn btn-default btn-xs pull-right' %>
      <%= link_to '<span class="glyphicon glyphicon-edit"></span>'.html_safe, edit_lesson_path(lesson), :class => 'btn btn-default btn-xs pull-right' %>

    </h4>
    <div id="<%= lesson.id %>" class="connectedSortable canSort well">

     <% lesson.exercises.sort_by{|exercise| exercise.sortForLesson}.each do |exercise| %>
        <%= render('builderPartial', :exercise => exercise) %>
     <%end%>
    </div>
   <% end %>
  </div>

  <div class="col-md-6">
    <div class="page-header">
     <h1>Unclaimed</h1>
    </div>
    <div class="connectedSortable canSort well">
     <% @exercises.each do |exercise| %>
      <% if exercise.lesson_id.nil?  %>
        <%= render('builderPartial', :exercise => exercise) %>
      <%end%>
     <% end %>
    </div>
  </div>
</div>