<div class="row">
  <div class="span6">
    <div class="page-header">
     <h1>Claimed  <%= link_to 'New Lesson', new_lesson_path, :class => 'btn btn-primary pull-right' %></h1> 
    </div>
   <% @lessons.each do |lesson| %>
    <h4>
      <%= lesson.id %> - <%= lesson.title %>

      <%= link_to 'Destroy', lesson_path(lesson), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-mini btn-danger pull-right' %>      
      <%= link_to 'Edit', edit_lesson_path(lesson), :class => 'btn btn-mini pull-right' %>
      <%= link_to 'Duplicate', {:action => "clone", :id => lesson.id}, :class => 'btn btn-mini pull-right' %>
      <%= link_to 'Show', lesson_path(lesson), :class => 'btn btn-primary btn-mini pull-right' %>
    </h4>
    <div id="<%= lesson.id %>" class="connectedSortable canSort well">

     <% lesson.exercises.sort_by{|exercise| exercise.sortForLesson}.each do |exercise| %>
        <%= render('builderPartial', :exercise => exercise) %>
     <%end%>
    </div>
   <% end %>
  </div>

  <div class="span6">
    <div class="page-header">
     <h1>Unclaimed</h1>
    </div>
    <div class="connectedSortable canSort well">
     <% @exercises.each do |exercise| %>
      <% if exercise.lesson_id.nil?  %>
        <%= render('builderPartial', :exercise => exercise) %>
      <%end%>
     <% end %>
    </div>
  </div>
</div>