<div class="row">

  <div class="col-md-6">
    <div class="page-header">
     <h1>Claimed  <%= link_to 'New Lesson', new_lesson_path, :class => 'btn btn-primary pull-right' %></h1> 
    </div>
   <% @lessons.each do |lesson| %>
    <h4>
      <%= lesson.id %> - <%= link_to lesson.title, lesson_path(lesson) %>
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default btn-xs">Actions</button>
        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><%= link_to '<span class="glyphicon glyphicon-download-alt"> Lesson</span>'.html_safe, csv_lesson_lesson_path(lesson), :class => "lesson" + lesson.id.to_s %></li>
          <li><%= link_to '<span class="glyphicon glyphicon-download-alt"> Exercises</span>'.html_safe, csv_lesson_exercises_lesson_path(lesson), :class => "lesson" + lesson.id.to_s  %></li>
          <li><%= link_to '<span class="glyphicon glyphicon-download-alt"> Moves</span>'.html_safe, csv_lesson_moves_lesson_path(lesson), :class => "lesson" + lesson.id.to_s, :id => "lesson12"  %></li>
          <li><%= link_to '<span class="glyphicon glyphicon-edit"> Edit</span>'.html_safe, edit_lesson_path(lesson) %></li>
          <li><%= link_to '<span class="glyphicon glyphicon-random"> Duplicate</span>'.html_safe, {:action => "clone", :id => lesson.id} %></li>
          <li><%= link_to '<span class="glyphicon glyphicon-trash"> Trash</span>'.html_safe, lesson_path(lesson), :method => :delete, :data => { :confirm => 'Are you sure?' } %></li>
        </ul>
      </div>

    </h4>
    <div id="<%= lesson.id %>" class="connectedSortable canSort well">

     <% lesson.exercises.sort_by{|exercise| exercise.sort_for_lesson}.each do |exercise| %>
        <%= render('builderPartial', :exercise => exercise) %>
     <%end%>
    </div>
   <% end %>
  </div>

  <div class="col-md-6">

    <div class="page-header">
     <h1>Bulk Import/Export</h1>
    </div>

    <!-- For uploading Moves -->
    <%= link_to "CSV of All Moves", moves_path(format: "csv") %><br>
    <%= form_tag import_moves_path, multipart: true do %>
    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
      <div class="input-group">
        <div class="form-control uneditable-input" data-trigger="fileinput">
          <i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span>
        </div>
        <span class="input-group-addon btn btn-default btn-file">
          <span class="fileinput-new ">Select file</span>
          <span class="fileinput-exists">Change</span>
          <%= file_field_tag :file %>
        </span>
        <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
        <%= submit_tag "Upload", :class => "upload input-group-addon btn btn-default fileinput-exists" %>
      </div>
    </div>
    <% end %>

    <!-- For uploading Exercises -->
    <%= link_to "CSV of All Exercises", exercises_path(format: "csv") %><br>
    <%= form_tag import_exercises_path, multipart: true do %>
    <div class="fileinput fileinput-new" data-provides="fileinput">
      <div class="input-group">
        <div class="form-control uneditable-input" data-trigger="fileinput">
          <i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span>
        </div>
        <span class="input-group-addon btn btn-default btn-file">
          <span class="fileinput-new">Select file</span>
          <span class="fileinput-exists">Change</span>
          <%= file_field_tag :file %>
        </span>
        <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
        <%= submit_tag "Upload", :class => "upload input-group-addon btn btn-default fileinput-exists" %>
      </div>
    </div>
    <% end %>

    <!-- For uploading Lessons -->
    <%= link_to "CSV of All Lessons", lessons_path(format: "csv") %><br>
    <%= form_tag import_lessons_path, multipart: true do %>
    <div class="fileinput fileinput-new" data-provides="fileinput">
      <div class="input-group">
        <div class="form-control uneditable-input" data-trigger="fileinput">
          <i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span>
        </div>
        <span class="input-group-addon btn btn-default btn-file">
          <span class="fileinput-new">Select file</span>
          <span class="fileinput-exists">Change</span>
          <%= file_field_tag :file %>
        </span>
        <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
        <%= submit_tag "Upload", :class => "upload input-group-addon btn btn-default fileinput-exists" %>
      </div>
    </div>
    <% end %>


    <div class="page-header">
     <h1>Unclaimed</h1>
    </div>
    <div class="connectedSortable canSort well">
     <% @exercises.each do |exercise| %>
      <% if exercise.lesson_id.nil?  %>
        <%= render('builderPartial', :exercise => exercise) %>
      <%end%>
     <% end %>
    </div>
  </div>
</div>