<div class="row">
  <div class="span12">
    <%- model_class = Lesson -%>
    <div class="page-header">
      <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
    </div>

    <div class="row">
    <% @lessons.each do |lesson| %> 
      <% if cycle('odd', 'even') == 'odd' %>
      <div class="span4 offset1">
        <div class="well well-large">
          <h2><%= link_to lesson.title, lesson_path(lesson) %></h2>
        </div>
      </div>
      <% else %>
      <div class="span4 offset2">
        <div class="well well-large">
          <h2><%= link_to lesson.title, lesson_path(lesson) %></h2>
        </div>
      </div>
      <% end %>
    <% end %>
    </div>

    <div class="row">
      <div class="span12">
        <div class="accordion" id="accordion3">
          <% @lessons.each do |lesson| %> 
          <div class="accordion-group">
            <div class="accordion-heading">
              <div class="row">
                <div class="span12 form-inline">
              
                  <a class="accordion-toggle pull-left" data-toggle="collapse" data-parent="#accordion3" href="#lesson-<%= lesson.id %>">
                    <%= lesson.title %>
                  </a>
                  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                              lesson_path(lesson),
                              :method => :delete,
                              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                              :class => 'btn btn-mini btn-danger pull-right' %>
                  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                              edit_lesson_path(lesson), :class => 'btn btn-mini pull-right' %>
                  <%= link_to t('.show', :default => t("helpers.links.show")),
                              lesson_path(lesson), :class => 'btn btn-primary btn-mini pull-right' %>
                </div>
              </div>
            </div>
            <div id="lesson-<%= lesson.id %>" class="accordion-body collapse">
              <div class="accordion-inner">
                <%= lesson.description %>
                <%= render('exercises/exerciseAccordian', :show_exercises => lesson.exercises) %>
              </div>
            </div>
          </div>
          <% end %>
        </div>

        <%= link_to t('.new', :default => t("helpers.links.new")),
                    new_lesson_path,
                    :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>