<%- model_class = Lesson -%>
<div class="page-header">
  <h1><%=t '.title', :default => @lesson.title %></h1>
</div>

<%= link_to "Let's Go!", exercise_path(@lesson.exercises[0]), :class => 'btn btn-primary' %>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @lesson.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @lesson.description %></dd>
</dl>

<div class="row">
  <div class="span12">
      <% @lesson.exercises.each do |exercise| %> 
          <div class="row">
            <div class="span8 form-inline">
                <%= exercise.title %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          exercise_path(exercise),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-mini btn-danger pull-right' %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_exercise_path(exercise), :class => 'btn btn-mini pull-right' %>
              <%= link_to t('.show', :default => t("helpers.links.show")),
                          exercise_path(exercise), :class => 'btn btn-primary btn-mini pull-right' %>
            </div>
          </div>
      <% end %>
    </div>
  </div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              lessons_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_lesson_path(@lesson), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              lesson_path(@lesson),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
