<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @completion.user_id %>
</p>

<p>
  <b>Exercise:</b>
  <%= @completion.exercise_id %>
</p>

<p>
  <b>Last completed:</b>
  <%= @completion.last_completed %>
</p>


<%= link_to 'Edit', edit_completion_path(@completion) %> |
<%= link_to 'Back', completions_path %>
