<div class="accordion" id="accordion2">
  <% show_exercises.each do |exercise| %> 
  <div class="accordion-group">
    <div class="accordion-heading">
      <div class="row">
        <div class="span11 form-inline">
      
          <a class="accordion-toggle pull-left" data-toggle="collapse" data-parent="#accordion2" href="#exer<%= exercise.id %>">
            <%= exercise.title %>
          </a>
          <%= link_to 'Destroy', exercise_path(exercise), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-mini btn-danger pull-right' %>
          <%= link_to 'Edit', edit_exercise_path(exercise), :class => 'btn btn-mini pull-right' %>
          <%= link_to 'Show', exercise_path(exercise), :class => 'btn btn-primary btn-mini pull-right' %>
        </div>
      </div>
    </div>
    <div id="exer<%= exercise.id %>" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= exercise.description %>
        <!-- Show off the MOVES for the exercises inside  -->
        <%= render('moves/moveList', :model_class => Move, :show_moves => exercise.moves) %>
      </div>
    </div>
  </div>
  <% end %>
</div>
<%= link_to 'New Exercise', new_exercise_path, :class => 'btn btn-primary' %>