<div class="row">
  <div class="span3">  
    <%- model_class = Exercise -%>
    <div class="page-header">
      <h1><%= link_to @exercise.title, exercise_path %> - <%= page_type %></h1>
    </div>
  </div>

  <%= simple_form_for(@exercise) do |f| %>
  <%= f.error_notification %>

    <div class="span3">
      <div class="control-group">
        <%= f.label :title, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :title, :class => 'text_field' %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :lesson_id, :class => 'control-label' %>
        <div class="controls">
          <%= f.collection_select :lesson_id, Lesson.all, :id, :title, :include_blank => true %>
        </div>
      </div>
    </div>
    <div class="span3">
      <div class="control-group">
        <%= f.label :description, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_area :description, :class => 'text_area span3', :rows =>'3' %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.number_field :sortForLesson %>
        </div>
      </div>
    </div>
    <div class="span3">
      <div class="control-group">
        <%= f.label :conclusion, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_area :conclusion, :class => 'text_area span3', :rows =>'3' %>
        </div>
      </div>
        <%= f.submit nil, :class => 'btn btn-mini btn-primary' %>
        <%= link_to 'Cancel', exercises_path, :class => 'btn btn-mini' %>
    </div>
  <% end %>
</div>
