<div class="row">
  <div class="col-md-3">  
    <%- model_class = Exercise -%>
    <div class="page-header">
      <% if @exercise.id.nil? %>
        <h3><%= page_type %></h3>
      <% else %>
        <h3>Editing: <%= link_to @exercise.title, exercise_path %></h3>
      <% end %>
    </div>
  </div>

  <%= simple_form_for(@exercise) do |f| %>
  <%= f.error_notification %>

    <div class="col-md-3">
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, :class => 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :lesson_id %>
        <%= f.collection_select :lesson_id, Lesson.all, :id, :title, {:include_blank => true}, :class => 'form-control'  %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, :class => 'form-control text_area col-md-3', :rows =>'3' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <%= f.label :conclusion %>
        <%= f.text_area :conclusion, :class => 'form-control text_area col-md-3', :rows =>'3' %>
      </div>
            <%= f.submit nil, :class => 'btn btn-mini btn-primary' %>
      <%= link_to 'Cancel', exercises_path, :class => 'btn btn-mini btn-default' %>
    </div>
  <% end %>
</div>
