<div class="row">
  <div class="span7">

    <%= render 'board' %>   
  </div>
  <div class="span5">
      <%- model_class = Exercise -%>
      <div class="page-header">
        <h1>
          <%=t '.title', :default => @exercise.title %> <small>Practice</small>
          <%= !@completion.nil? && @completion.last_completed === "practice" ? "<i class='icon-check'></i>".html_safe : "<i class='icon-edit'></i>".html_safe %>
        </h1>
      </div>

<!-- Butchering the Collapse Bootstrap component in order to make this screen look like the demo screen -->
    <% @exercise.moves.reverse.each do |move| %>
      <div class="accordion-group alert-success nextMove notShownMove" data-computer= "<%= (move.computer == true ? 'white' : 'black') %>" data-white="<%= move.piece_white %>:<%= move.starting_coordinate_white %>-<%= move.ending_coordinate_white %>" data-black="<%= move.piece_black %>:<%= move.starting_coordinate_black %>-<%= move.ending_coordinate_black %>">
        <div class="accordion-heading">
          <span class="accordion-toggle">
              <table>
                <tr>
                  <td class="moveTableFirstColumn"><%= move.move_number %></td>
                  <td class="moveTableNonfirstColumn"><%= move.piece_white %><%= move.ending_coordinate_white %></td>
                  <td class="moveTableNonfirstColumn"><%= move.piece_black %><%= move.ending_coordinate_black %></td>
                </tr>
              </table>
          </span>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div id="conclusionModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="descriptionModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="descriptionModalLabel">Exercise Complete!</h3>
  </div>
  <div class="modal-body">
    neat! you are done, on to the next?
<!--     <%= @practice %> -->
  </div>

  <div class="modal-footer">
    <%= link_to "Back to the Demo", exercise_path(@exercise.id), :class => 'btn' %>
    <%= link_to "Practice Again", practice_exercise_path(@exercise.id), :class => 'btn' %>
    
    <% next_exercise = @exercise.lesson.next_exercise(@exercise) %>
    <% if !next_exercise.nil? %>
      <%= link_to "Next Exercise", exercise_path(next_exercise), :class => 'btn btn-primary btn-large' %> 
    <% else %>
      <%= link_to "Test Me!", quiz_lesson_path(@exercise.lesson), :class => 'btn btn-danger btn-large' %> 
    <% end %>
  </div>
</div>



