<div class="row">
  <div class="span4">
      <%- model_class = Exercise -%>
      <div class="page-header" data-draggable="yes" data-droppable="screen-response">
        <h1><%=t '.title', :default => @exercise.title %></h1>
      </div>
    <% @exercise.moves.each do |move| %>
      <div class="alert alert-success nextMove hideMe" data-computer= "<%= move.computer %>"><%= move.piece %> from <%= move.starting_coordinate %> to <%= move.ending_coordinate %></div>
    <% end %>
  </div>
  <div class="span8">

    <%= render 'board' %>   
  </div>
</div>
<div id="conclusionModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="descriptionModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="descriptionModalLabel">Exercise Complete!</h3>
  </div>
  <div class="modal-body">
    neat! you are done, on to the next?
<!--     <%= @practice %> -->
  </div>

  <div class="modal-footer">
    <%= link_to "Back to the Demo", exercise_path(@exercise.id), :class => 'btn' %>
    <%= link_to "Practice Again", practice_exercise_path(@exercise.id), :class => 'btn' %>

  </div>
</div>



