<div class="row">
  <div class="col-md-7">

    <%= render 'board' %>   
  </div>
  <div class="col-md-5">
      <%- model_class = Exercise -%>
      <div class="page-header">
        <h1>
          <small>Quiz</small>
          <%= !@completion.nil? ? "<i class='icon-check'></i>".html_safe : "<i class='icon-edit'></i>".html_safe %>
        </h1>
      </div>

<!-- Butchering the Collapse Bootstrap component in order to make this screen look like the demo screen -->
    <% @exercise.moves.reverse.each do |move| %>
      <div class="accordion-group alert-success nextMove notShownMove" data-computer= "<%= (move.computer == true ? 'white' : 'black') %>" data-white="<%= move.piece_white %>:<%= move.starting_coordinate_white %>-<%= move.ending_coordinate_white %>" data-black="<%= move.piece_black %>:<%= move.starting_coordinate_black %>-<%= move.ending_coordinate_black %>">
        <div class="accordion-heading">
          <span class="accordion-toggle">
              <table>
                <tr>
                  <td class="moveTableFirstColumn"><%= move.move_number %></td>
                  <td class="moveTableNonfirstColumn"><%= move.piece_white %><%= move.ending_coordinate_white %></td>
                  <td class="moveTableNonfirstColumn"><%= move.piece_black %><%= move.ending_coordinate_black %></td>
                </tr>
              </table>
          </span>
        </div>
      </div>
    <% end %>
  </div>
</div>



<div id="conclusionModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="descriptionModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="descriptionModalLabel">Quiz Complete!</h3>
  </div>
  
<% if @exercise.lesson.exercises.count - @completed_quizzes != 0 %>
  <div class="modal-body">
      <%= @completed_quizzes %> done, <%= @exercise.lesson.exercises.count - @completed_quizzes %> to go!
  </div>
  <div class="modal-footer">
    <%= link_to "Next...", quizzes_lesson_path(@exercise.lesson), :class => 'btn btn-danger btn-lg' %> 
  </div>
<% else %>
  <div class="modal-body">
      Congratulations! You Passed! Another Lesson?
  </div>
  <div class="modal-footer">
    <%= link_to "Lessons", lessons_path, :class => 'btn btn-primary btn-lg' %> 
  </div>
<% end %>
</div>





