<div class="row">
  <div class="span4">
      <%- model_class = Exercise -%>
      <div class="page-header" data-modal="yes">
        <h1><%=t '.title', :default => @exercise.title %>   <a data-toggle="modal" href="#descriptionModal" class="btn btn-mini btn-primary">...</a></h1>
          <button id="nextMove" class='btn btn-primary'>Next</button>
          <button id="prevMove" class='btn btn-primary'>Previous</button>
      </div>
<!--       <dl class="dl-horizontal">
        <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
        <dd><%= @exercise.description %></dd>
      </dl> -->
    <% @exercise.moves.each do |move| %>
      <div class="nextMove hideMe alert alert-info" data-explanation= "<%= move.explanation %>"  data-moveNumber= "<%= move.move_number %>"><%= move.piece %> from <%= move.starting_coordinate %> to <%= move.ending_coordinate %></div>
    <% end %>
  </div>
  <div class="span8">
<!--     <div class="form-inline">
      <%= link_to t('.back', :default => t("helpers.links.back")),
                  exercises_path, :class => 'btn pull-right'  %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_exercise_path(@exercise), :class => 'btn pull-right' %>
      <button id="showCoordinates" class='btn btn-warning'>Coordinates</button> -->

    <%= render 'board' %>   
  </div>
</div>
<div id="descriptionModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="descriptionModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="descriptionModalLabel"><%= @exercise.title %></h3>
  </div>
  <div class="modal-body">
    <%= @exercise.description %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Close</button>
  </div>
</div>
<div id="conclusionModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="descriptionModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="descriptionModalLabel">Exercise Complete!</h3>
  </div>
  <div class="modal-body">
    <%= @exercise.description %>
  </div>

  <div class="modal-footer">
    <%= link_to "Show it again", exercise_path(@exercise.id), :class => 'btn' %>
    <button class="btn" data-dismiss="modal">Stay Here</button>
    <%= link_to "Practice It!", practice_exercise_path(@exercise.id), :class => 'btn btn-primary btn-large' %>    
  </div>
</div>



