<ul class="nav navbar-nav navbar-right">
  <% if user_signed_in? %>
  <li>
    <%= link_to 'Build A Lesson', builder_lessons_path %>
  </li>   
  <li id="fat-menu" class="dropdown">
    <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %> <b class="caret"></b></a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
      <li><%= link_to 'My Account', edit_user_registration_path %></li>
      <% if current_user.has_role? :admin %>
        <li><%= link_to 'Admin', users_path %></li>
      <% end %>
      <li class="divider"></li>
      <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
    </ul>
  </li>
  <% else %>
    <li id="nav-log" data-navid= "navigation-0">
    <%= link_to 'Sign In', new_user_session_path %>  
    </li>
    <li>
    <%= link_to 'Sign Up', new_user_registration_path %> 
    </li>
  <% end %>
</ul>
<ul class='nav navbar-nav'>
<!--    <li>
    <%= link_to 'Pricing', home_pricing_path %>
  </li>  -->
<!--   <li>
    <%= link_to 'Exercises', exercises_path %>
  </li>  -->
  <li>
    <%= link_to 'Lessons', lessons_path %>
  </li>
  <li>
    <%= link_to 'Build A Lesson', builder_lessons_path %>
  </li>   
</ul>
